name: Deploy via FTP

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Upload files via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: dev.screencraft.net.au
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./                # all your site files are here
          server-dir: /a/reyesmar/     # this is your Screencraft web folder
          exclude: |
            **/.git*
            **/node_modules/**
            **/.github/**
